{
  email caddy@nuv.direct
  metrics {
    per_host
  }
  log
  on_demand_tls {
    ask http://192.168.188.128:9999/ask
  }
}


:9090 {
  metrics
}

*.mar.ollie.earth, *.strawmelonjuice.com {
  tls {
    on_demand
  }
  reverse_proxy http://192.168.188.128
}

www.ollie.earth {
  redir https://ollie.earth{uri} permanent
}

ollie.earth {
  # ===================------ ATPROTO ------===================
  handle_path /.well-known/atproto-did {
    respond "did:plc:cezmtk5bb4zipkps3abnjjl6"
  }

  # ================---- Matrix Homeserver ----================
  handle /.well-known/matrix/* {
    header Access-Control-Allow-Origin "*"
    header Content-Type "application/json"

    # Using a Matcher inside the handle to respond differently
    @server path /.well-known/matrix/server
    respond @server `{"m.server": "ollie.earth:443"}`

    @client path /.well-known/matrix/client
    respond @client `{"m.homeserver": {"base_url": "https://ollie.earth"}}`
  }

  handle /_matrix/* {
    reverse_proxy matrix:8008
  }

  handle /_synapse/client/* {
    reverse_proxy matrix:8008
  }

  # ===================------ My Site ------===================
  handle {
    root /srv/page
    encode
    try_files {path} /index.html
    file_server
  }
}

www.nuv.sh {
  redir https://nuv.sh{uri} permanent
}

nuv.sh {
  redir https://ollie.earth{uri} permanent
}

cv.nuv.sh {
  redir https://cv.ollie.earth{uri} permanent
}

cv.ollie.earth {
  handle /* {
    redir https://reactive-resume.nuv.sh/nuv{path} permanent
  }

  redir https://reactive-resume.nuv.sh/nuv/cv permanent
}

doodler.nuv.sh {
  redir https://doodler.ollie.earth{uri} permanent
}

doodler.ollie.earth {
  log
  root /srv/doodler
  encode
  try_files {path} /index.html
  file_server
}

page.ollie.earth {
  redir https://ollie.earth permanent
}

git.nuv.sh {
  redir https://git.ollie.earth{uri} permanent
}

ci.nuv.sh {
  redir https://ci.ollie.earth{uri} permanent
}

tunes.nuv.sh {
  redir https://tunes.ollie.earth{uri} permanent
}
